.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    @media (max-width:599px){
        padding: 0 15px;
    }
    @media (max-width:450px){
        padding: 0 12px;
    }
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
