.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
@media (max-width: 599px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0 12px;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=general.css.map */