.header{
    padding: 25px 0;
    width: 100%;
    z-index: 100;
    top: 0;
    transition: linear 0.2s all;
    position: absolute;
    &.scrolled{
        padding: 10px 0;
        transition: linear 0.2s all;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
        background:#5e5e5e;
        position: fixed;
        top: 0;
        left: 0;
        
        & img{
            
            transition: linear 0.2s all;
        }
    }
    &-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__logo{
            & a{
                display: block;
                & img{
                    height: 30px;
                    width: 100%;
                    transition: linear 0.2s all;
                    position: relative;
                     z-index: 100;
                }
            }
        }
        &__menu{
            #primary-menu{
                display: flex;
                gap: 35px;
                list-style: none;
                padding: 0;
                margin: 0;
                @media (max-width: 992px){
                    transform: translateX(100%);
                    display: grid;
                    place-content: center;
                    place-items: center;
                    position: fixed;
                    width: 100%;
                    left: 0;
                    background: #F8F8F8;
                    height: 100vh;
                    top: 0;
                    transition: cubic-bezier(0.43, 0.76, 1, 1) 0.2s all;
                    opacity: 0;
                     
                }
                & li{
                    & a{
                        text-decoration: none;
                        color:white;
                        text-transform: uppercase;
                    
                    }
                }
               
            }
            & .menu-toggle{
                display: none;
                cursor: pointer;
                @media (max-width: 992px){
                    display: block;
                     
                }
                & .bar1, .bar2, .bar3 {
                    width: 32px;
                    height: 2px;
                    background-color: white;
                    margin: 6px 0;
                    transition: 0.4s;
                  }
            }
        }
    }
}


.toggled-view{
    &  .bar1 {
        -webkit-transform: rotate(-45deg) translate(-4px, 4px);
        transform: rotate(-45deg) translate(-4px, 4px);
    }
    & .bar2 {
        opacity: 0;
    } 
    & .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    &  #primary-menu{
        display: grid;
        place-content: center;
        place-items: center;
        position: fixed;
        width: 100%;
        left: 0;
        background: #5e5e5e;
        height: 100vh;
        top: 0;
        transform: translateX(0px);
        opacity: 1;
    }
}
 