.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
@media (max-width: 599px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0 12px;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.footer {
  padding: 50px 0;
  text-align: center;
  background-color: black;
}
.footer-copyright {
  color: white;
  margin: 0;
}

.header {
  padding: 25px 0;
  width: 100%;
  z-index: 100;
  top: 0;
  transition: linear 0.2s all;
  position: absolute;
}
.header.scrolled {
  padding: 10px 0;
  transition: linear 0.2s all;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  background: #5e5e5e;
  position: fixed;
  top: 0;
  left: 0;
}
.header.scrolled img {
  transition: linear 0.2s all;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-main__logo a {
  display: block;
}
.header-main__logo a img {
  height: 30px;
  width: 100%;
  transition: linear 0.2s all;
  position: relative;
  z-index: 100;
}
.header-main__menu #primary-menu {
  display: flex;
  gap: 35px;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 992px) {
  .header-main__menu #primary-menu {
    transform: translateX(100%);
    display: grid;
    place-content: center;
    place-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    background: #F8F8F8;
    height: 100vh;
    top: 0;
    transition: cubic-bezier(0.43, 0.76, 1, 1) 0.2s all;
    opacity: 0;
  }
}
.header-main__menu #primary-menu li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.header-main__menu .menu-toggle {
  display: none;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header-main__menu .menu-toggle {
    display: block;
  }
}
.header-main__menu .menu-toggle .bar1, .header-main__menu .menu-toggle .bar2, .header-main__menu .menu-toggle .bar3 {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.toggled-view .bar1 {
  transform: rotate(-45deg) translate(-4px, 4px);
}
.toggled-view .bar2 {
  opacity: 0;
}
.toggled-view .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
.toggled-view #primary-menu {
  display: grid;
  place-content: center;
  place-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  background: #5e5e5e;
  height: 100vh;
  top: 0;
  transform: translateX(0px);
  opacity: 1;
}

/* PAGES */
.hero {
  height: calc(100vh - 100px);
  background-image: url("../imgs/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  text-align: center;
}
.hero-title {
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 50px;
  padding-bottom: 10px;
}
@media (max-width: 600px) {
  .hero-title {
    font-size: 30px;
  }
}
.hero-text {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
}
@media (max-width: 600px) {
  .hero-text {
    font-size: 16px;
  }
}
.hero-btn {
  display: block;
  margin-top: 80px;
}
.hero-btn a {
  background-color: yellow;
  padding: 10px 40px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
}

.about {
  padding: 100px 0;
  background-color: #dfdfdf;
}
.about-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
}
@media (max-width: 600px) {
  .about-title {
    font-size: 26px;
  }
}
.about-text {
  text-align: center;
  margin: auto;
  font-size: 18px;
  max-width: 900px;
}
@media (max-width: 600px) {
  .about-text {
    font-size: 16px;
  }
}
.about-box {
  text-align: center;
  background-color: white;
  box-shadow: 0px 3px 8px rgb(222, 222, 222);
  padding: 0 25px;
  padding-bottom: 50px;
  transition: linear 0.2s all;
}
.about-box:hover {
  box-shadow: 0px 5px 13px rgb(147, 147, 147);
  transition: linear 0.2s all;
}
.about-box h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-bottom: 25px;
}
.about-box p {
  margin: 0;
  line-height: 1.5;
}
.about-box__img {
  position: relative;
  top: -25px;
}
.about-box__img img {
  width: 40px;
  border-radius: 50%;
  background-color: yellow;
  padding: 15px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-box__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding-top: 80px;
}
@media (max-width: 700px) {
  .about-box__wrap {
    grid-template-columns: 1fr;
  }
}

.team {
  padding: 100px 0px;
  background-image: url("../imgs/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.team-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  color: white;
}
@media (max-width: 600px) {
  .team-title {
    font-size: 26px;
  }
}
.team-text {
  text-align: center;
  margin: auto;
  font-size: 18px;
  max-width: 900px;
  color: white;
}
@media (max-width: 600px) {
  .team-text {
    font-size: 16px;
  }
}

.gallery {
  background-color: #161b20;
  padding: 100px 0;
}
.gallery-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  color: white;
}
@media (max-width: 600px) {
  .gallery-title {
    font-size: 26px;
  }
}
.gallery-text {
  text-align: center;
  margin: auto;
  font-size: 18px;
  max-width: 900px;
  color: white;
}
@media (max-width: 600px) {
  .gallery-text {
    font-size: 16px;
  }
}
.gallery-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
}
.gallery-item__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
  padding-top: 50px;
}
@media (max-width: 1000px) {
  .gallery-item__wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .gallery-item__wrap {
    grid-template-columns: 1fr 1fr;
  }
}

.contact {
  background-color: rgba(111, 111, 111, 0.2509803922);
  padding: 100px 0;
}
.contact-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
}
@media (max-width: 600px) {
  .contact-title {
    font-size: 26px;
  }
}
.contact-text {
  text-align: center;
  margin: auto;
  font-size: 18px;
  max-width: 900px;
}
@media (max-width: 600px) {
  .contact-text {
    font-size: 16px;
  }
}
.contact-form {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  padding-top: 80px;
  margin: auto;
}
@media (max-width: 600px) {
  .contact-form {
    grid-template-columns: 1fr;
  }
}
.contact-form__left {
  display: grid;
  gap: 20px;
}
.contact-form__left .contact-item {
  display: block;
}
.contact-form__left .contact-item span {
  width: 100%;
}
.contact-form__left .contact-item span.wpcf7-not-valid-tip {
  font-size: 14px;
}
.contact-form__left input {
  padding: 10px;
  width: 100%;
}
.contact-form__left p {
  margin: 0;
  display: flex;
  width: 100%;
}
.contact-form__left p input {
  width: 100%;
  box-sizing: border-box;
}
.contact-form__right p {
  margin: 0;
}
.contact-form__right textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.contact-btn {
  display: flex;
  justify-content: center;
}
.contact-btn p {
  display: grid;
}
.contact-btn input {
  background: yellow;
  border: none;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */