.hero{
   height: calc(100vh - 100px);
    background-image: url("../imgs/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    text-align: center;
    &-title{
        color:white;
        text-transform: uppercase;
        margin: 0;
        font-size: 50px;
        padding-bottom: 10px;
        @media (max-width:600px){
            font-size: 30px;
        }
    }
    &-text{
        color:white;
        text-transform: uppercase;
        font-size: 22px;
        @media (max-width:600px){
            font-size: 16px;
        }
    }
    &-btn{
        display: block;
        margin-top: 80px;
        & a{
            background-color:yellow;
            padding: 10px 40px;
            color:black;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            border-radius:8px;
        }
    }
}

.about{
    padding: 100px 0;
    background-color:#dfdfdf;
    &-title{
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 50px;
        font-size: 36px;
        @media (max-width:600px){
            font-size: 26px;
        }
        
    }
    &-text{
        text-align: center;
        margin: auto;
        font-size: 18px;
        max-width: 900px;
        @media (max-width:600px){
            font-size: 16px;
        }
        
    }
    &-box{
        text-align: center;
        background-color:white;
        box-shadow: 0px 3px 8px rgb(222, 222, 222);
        padding: 0 25px;
        padding-bottom: 50px;
        transition: linear 0.2s all;
        &:hover{
            box-shadow: 0px 5px 13px rgb(147 147 147);
            transition: linear 0.2s all;
        }
        & h3{
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;
            padding-bottom: 25px;
        }
        & p{
            margin: 0;
            line-height: 1.5;

        }
        &__img{
            position: relative;
            top: -25px;
            & img{
                width: 40px;
                border-radius: 50%;
                background-color: yellow;
                padding: 15px;
                height: 40px;
                object-fit: contain;
            }
            
        }
        &__wrap{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;
            padding-top: 80px;
            @media (max-width:700px){
                grid-template-columns: 1fr;
            }
        }
    }
}


.team{
    padding: 100px 0px;
    background-image: url("../imgs/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    &-title{
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 50px;
        font-size: 36px;
        color:white;
        @media (max-width:600px){
            font-size: 26px;
        }
        
    }
    &-text{
        text-align: center;
        margin: auto;
        font-size: 18px;
        max-width: 900px;
        color: white;
        @media (max-width:600px){
            font-size: 16px;
        }
    }
}


.gallery{
    background-color:#161b20;
    padding: 100px 0;
    &-title{
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 50px;
        font-size: 36px;
        color:white;
        @media (max-width:600px){
            font-size: 26px;
        }
    }
    &-text{
        text-align: center;
        margin: auto;
        font-size: 18px;
        max-width: 900px;
        color:white;
        @media (max-width:600px){
            font-size: 16px;
        }
    }
    &-item{
        & img{
            width: 100%;
            object-fit: cover;
            height: 180px;
        }
        &__wrap{
            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 25px;
            padding-top: 50px;
            @media (max-width:1000px){
                grid-template-columns:1fr 1fr 1fr;
            }
            @media (max-width:600px){
                grid-template-columns: 1fr 1fr;
            }

        }
    }
}


.contact{
    background-color:#6f6f6f40;
    padding: 100px 0;
    &-title{
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 50px;
        font-size: 36px;
        @media (max-width:600px){
            font-size: 26px;
        }
    }
    &-text{
        text-align: center;
        margin: auto;
        font-size: 18px;
        max-width: 900px;
        @media (max-width:600px){
            font-size: 16px;
        }
    }
    &-form{
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
        padding-top: 80px;
        margin: auto;
        @media (max-width:600px){
            grid-template-columns: 1fr;
        }
        &__left{
            display: grid;
            gap: 20px;
            & .contact-item{
                display: block;
                & span{
                    
                    width: 100%;
                }
                & span.wpcf7-not-valid-tip {
                    font-size: 14px;
                }
                
                
            }
            & input{
                padding: 10px;
                width: 100%;
            }
            & p{
                margin: 0;
                display: flex;
                width: 100%;
                & input{
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
        &__right{
            & p{
                margin: 0;
            }
            & textarea{
                padding: 10px;
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
    &-btn{
        display: flex;
        justify-content: center;
        & p{
            display: grid;
        }
        & input{
            background: yellow;
            border: none;
            padding: 10px 20px;
            color: black;
            font-weight: bold;
            cursor:pointer;
        }
    }
}