.hero {
  height: calc(100vh - 100px);
  background-image: url("../imgs/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  text-align: center;
}
.hero-title {
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 50px;
  padding-bottom: 10px;
}
@media (max-width: 600px) {
  .hero-title {
    font-size: 30px;
  }
}
.hero-text {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
}
@media (max-width: 600px) {
  .hero-text {
    font-size: 16px;
  }
}
.hero-btn {
  display: block;
  margin-top: 80px;
}
.hero-btn a {
  background-color: yellow;
  padding: 10px 40px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
}

.about {
  padding: 100px 0;
  background-color: #dfdfdf;
}
.about-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
}
@media (max-width: 600px) {
  .about-title {
    font-size: 26px;
  }
}
.about-text {
  text-align: center;
  margin: auto;
  font-size: 18px;
  max-width: 900px;
}
@media (max-width: 600px) {
  .about-text {
    font-size: 16px;
  }
}
.about-box {
  text-align: center;
  background-color: white;
  box-shadow: 0px 3px 8px rgb(222, 222, 222);
  padding: 0 25px;
  padding-bottom: 50px;
  transition: linear 0.2s all;
}
.about-box:hover {
  box-shadow: 0px 5px 13px rgb(147, 147, 147);
  transition: linear 0.2s all;
}
.about-box h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-bottom: 25px;
}
.about-box p {
  margin: 0;
  line-height: 1.5;
}
.about-box__img {
  position: relative;
  top: -25px;
}
.about-box__img img {
  width: 40px;
  border-radius: 50%;
  background-color: yellow;
  padding: 15px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-box__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding-top: 80px;
}
@media (max-width: 700px) {
  .about-box__wrap {
    grid-template-columns: 1fr;
  }
}

.team {
  padding: 100px 0px;
  background-image: url("../imgs/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.team-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  color: white;
}
@media (max-width: 600px) {
  .team-title {
    font-size: 26px;
  }
}
.team-text {
  text-align: center;
  margin: auto;
  font-size: 18px;
  max-width: 900px;
  color: white;
}
@media (max-width: 600px) {
  .team-text {
    font-size: 16px;
  }
}

.gallery {
  background-color: #161b20;
  padding: 100px 0;
}
.gallery-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  color: white;
}
@media (max-width: 600px) {
  .gallery-title {
    font-size: 26px;
  }
}
.gallery-text {
  text-align: center;
  margin: auto;
  font-size: 18px;
  max-width: 900px;
  color: white;
}
@media (max-width: 600px) {
  .gallery-text {
    font-size: 16px;
  }
}
.gallery-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
}
.gallery-item__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
  padding-top: 50px;
}
@media (max-width: 1000px) {
  .gallery-item__wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .gallery-item__wrap {
    grid-template-columns: 1fr 1fr;
  }
}

.contact {
  background-color: rgba(111, 111, 111, 0.2509803922);
  padding: 100px 0;
}
.contact-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
}
@media (max-width: 600px) {
  .contact-title {
    font-size: 26px;
  }
}
.contact-text {
  text-align: center;
  margin: auto;
  font-size: 18px;
  max-width: 900px;
}
@media (max-width: 600px) {
  .contact-text {
    font-size: 16px;
  }
}
.contact-form {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  padding-top: 80px;
  margin: auto;
}
@media (max-width: 600px) {
  .contact-form {
    grid-template-columns: 1fr;
  }
}
.contact-form__left {
  display: grid;
  gap: 20px;
}
.contact-form__left .contact-item {
  display: block;
}
.contact-form__left .contact-item span {
  width: 100%;
}
.contact-form__left .contact-item span.wpcf7-not-valid-tip {
  font-size: 14px;
}
.contact-form__left input {
  padding: 10px;
  width: 100%;
}
.contact-form__left p {
  margin: 0;
  display: flex;
  width: 100%;
}
.contact-form__left p input {
  width: 100%;
  box-sizing: border-box;
}
.contact-form__right p {
  margin: 0;
}
.contact-form__right textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.contact-btn {
  display: flex;
  justify-content: center;
}
.contact-btn p {
  display: grid;
}
.contact-btn input {
  background: yellow;
  border: none;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}/*# sourceMappingURL=home.css.map */